 
#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work, organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
    %h2 Organize
    %p shorts pitchfork 8-bit swag echo park YOLO heirloom. +1 edison bulb cold-pressed palo santo 8-bit humblebrag PBR&B jianbing hoodie chicharrones portland. Tumblr leggings synth mlkshk single-origin coffee jean shorts woke fingerstache snackwave raclette selvage gentrify migas poutine. Waistcoat meditation green juice pok pok master cleanse glossier swag brunch mumblecore viral DIY neutra. 
#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path         